body {
	color: #0070ef;
	font-size: 24px;
}

.schedule {
	display: flex;
	flex-direction: column;
}

.slot {
	display: grid;
	grid-template-areas: 
	"time"
	"event"
	"host"
	"guest"
	;
	padding: 1em;
	width: auto;
	border: 1px solid #0070ef;
}

@media (min-width: 520px) {

.slot {
	grid-template-areas: 
	"time event"
	"host guest"
	;
}

}