body {
	color: #0070ef;
	font-size: 24px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h1 {
	font-size: 1.5em;
	margin: 1em;
	text-align: center;
}

.schedule-container {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
}

.schedule {
	display: flex;
	flex-direction: column;
	max-width: 30em;
}

.slot {
	display: grid;
	grid-template-columns: 1fr;
	grid-template-areas: 
	"time"
	"event"
	"host"
	"guest"
	;
	padding: 1em;
	width: auto;
	border: 1px solid #0070ef;
	grid-gap: 1em;
}


.time:before {
	content: "Time: ";
	font-size: .5em;
}

.event:before {
	content: "Event: ";
	font-size: .5em;
}

.host:before {
	content: "Host: ";
	font-size: .5em;
}

.guest:before {
	content: "Guest: ";
	font-size: .5em;
}


@media (min-width: 36em) {

.slot {
	grid-template-columns: 3fr 4fr;
	grid-template-areas: 
	"time event"
	"host guest"
	;
}

}